.env filter=git-crypt diff=git-crypt
.config/rclone/rclone.conf filter=git-crypt diff=git-crypt
.m2/* filter=git-crypt diff=git-crypt
.ssh/* filter=git-crypt diff=git-crypt
.gitconfig filter=git-crypt diff=git-crypt
.gitconfig_work filter=git-crypt diff=git-crypt